<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <link rel="stylesheet" href="/styles.css"> 
    <style>
      header {
        background-color: #ff5722;
      }
      body {
        background-color: aliceblue;
      }
    </style>  
</head>
<header>
  <div class="title">
      <a href="/main"><h1>Traditional American Cuisine</h1></a>
  </div>
  <div class="nav_right">
      <a href="/order-history">Order History</a>
      <a href="/profile">Profile</a>
      <a href="/logout">Sign Out</a>
  </div>
</header>
<body>
  <div class="summary-body">
    <div class="summary-title">
      <h1>Order Cart Summary</h1>
    </div>
    <% if (data && data.items) { %>
      <% for(let i = 0; i < data.items.length; i++) { %>
        <div class="food-order">
          <img class="food-image" src="<%= data.items[i].image %>" alt="<%= data.items[i].name %>" >
          <div>
            <h3><%= data.items[i].name %></h3>
            <p>Price/item: <%= data.items[i].price %></p>
            <form action="/update-quantity/<%= data.items[i]._id %>?orderId=<%= token_id %>" method="POST">
              <label for="quantity-<%= data.items[i]._id %>">Quantity:</label>
              <input type="number" id="quantity-<%= data.items[i]._id %>" name="quantity" value="<%= data.items[i].quantity.toFixed(2) %>">
            </div>
            <div class="btn-update-delete">
              <button type="submit" class="update">Update</button>
            </form>
              <form action="/delete-item/<%= data.items[i]._id %>?orderId=<%= token_id %>" method="POST">
                <button type="submit" class="delete">Delete</button>
              </form>
            </div>
          </div>
      <% } %>
      
      <% var totalprice = 0 %>
      <% for(let i = 0; i < data.items.length; i++) { %>
        <% totalprice = totalprice + data.items[i].price * data.items[i].quantity %>
      <% } %>
      <div class="summary-price">
        <h3>Total Price $: <%= totalprice.toFixed(2) %></h3>
        <button id="pay-button" class="pay-submit">Pay</button>
      </div>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
  <footer>
    <p>&copy; 2023 Traditional American Cuisine. All rights reserved.</p>
  </footer>

  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const cartItems = <%- JSON.stringify(data.items || []) %>;
    const stripePublicKey = '<%= process.env.YOUR_PUBLIC_STRIPE_KEY %>'; // Pass public key from server-side
    console.log(cartItems)
    console.log(stripePublicKey)

    document.getElementById('pay-button').addEventListener('click', async (event) => {
      event.preventDefault();

      const response = await fetch('/create-checkout-session', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          cartItems: cartItems
        }),
      });

      const sessionId = await response.json();
      const stripe = Stripe(stripePublicKey); // Use public key

      stripe.redirectToCheckout({ sessionId: sessionId.id });
    });
  </script>
</body>
</html>
