<!DOCTYPE html>
<head>
    <title>Summary</title>
    <link rel="stylesheet" href="/styles.css">   
</head>
<body>
  <div class="summary-body">
    <div class="summary-title">
      <h1>Order Cart Summary</h1>
    </div>
    <% for(let i = 0; i < data.items.length; i++) { %>
      <div class="food-order">
        <img class="food-image" src="<%= data.items[i].image %>" alt="<%= data.items[i].name %>" >
        <div>
          <h3><%= data.items[i].name %></h3>
          <p>Price/item: <%= data.items[i].price %></p>
          <form action="/update-quantity/<%= data.items[i]._id %>?orderId=<%=token_id%>" method="POST">
          <label for="quantity-<%= data.items[i]._id %>">Quantity:</label>
          <input type="number" id="quantity-<%= data.items[i]._id %>" name="quantity" value="<%= data.items[i].quantity.toFixed(2) %>">
        </div>
        <div class="btn-update-delete">
          <button type="submit" class="update">Update</button>
        </form>
          <form action="/delete-item/<%= data.items[i]._id %>?orderId=<%=token_id%>" method="POST">
            <button type="submit" class="delete">Delete</button>
          </form>
        </div>
      </div>
    <% } %>
    
    <% var totalprice = 0 %>
    <% for(let i = 0; i < data.items.length ; i++) { %>
      <%totalprice = totalprice+data.items[i].price*data.items[i].quantity %>
  <%}%>
  <div class="summary-price">
    <h3>Total Price $: <%=totalprice.toFixed(2)%></h3>
    <form method="get" action="/thankyou">
      <button type="submit" class="pay-submit">Pay</button>
    </form>
  </div>
  <footer>
    <p>&copy; 2023 Traditional American Cuisine. All rights reserved.</p>
  </footer>
  </div>
 
</body>       

</html>